body {
    background-color: #ddd;
    text-align: center;
}

.container {
    width: 600px;
    margin: 10px auto;
    border: 2px solid #fff;
    overflow: auto;
}

.thumb {
    width: 200px;
    float: left;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.thumb:hover {
    opacity: 0.5;
    cursor: pointer;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

.fade {
    animation: fadein 0.5s forwards;
    opacity: 0;
}

.active {
    opacity: 0.5;
}